In [1]:
import sys
import os

# Add the 'src' directory to the Python path
sys.path.append(os.path.abspath('src'))

In [2]:
from eda_functions import *
from preprocessing import *
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Import your dataset to start analysis
dataset = pd.read_csv("data/flights.csv")

In [4]:
print(dataset.shape)
print(f"This dataset has {dataset.shape[1]} columns")

(336776, 21)
This dataset has 21 columns

In [5]:
print(dataset.describe())

                  id      year          month            day       dep_time  \
count  336776.000000  336776.0  336776.000000  336776.000000  328521.000000
mean   168387.500000    2013.0       6.548510      15.710787    1349.109947
std     97219.001466       0.0       3.414457       8.768607     488.281791
min         0.000000    2013.0       1.000000       1.000000       1.000000
25%     84193.750000    2013.0       4.000000       8.000000     907.000000
50%    168387.500000    2013.0       7.000000      16.000000    1401.000000
75%    252581.250000    2013.0      10.000000      23.000000    1744.000000
max    336775.000000    2013.0      12.000000      31.000000    2400.000000

       sched_dep_time      dep_delay       arr_time  sched_arr_time  \
count   336776.000000  328521.000000  328063.000000   336776.000000
mean      1344.254840      12.639070    1502.054999     1536.380220
std        467.335756      40.210061     533.264132      497.457142
min        106.000000     -43.000000       1.000000        1.000000
25%        906.000000      -5.000000    1104.000000     1124.000000
50%       1359.000000      -2.000000    1535.000000     1556.000000
75%       1729.000000      11.000000    1940.000000     1945.000000
max       2359.000000    1301.000000    2400.000000     2359.000000

           arr_delay         flight       air_time       distance  \
count  327346.000000  336776.000000  327346.000000  336776.000000
mean        6.895377    1971.923620     150.686460    1039.912604
std        44.633292    1632.471938      93.688305     733.233033
min       -86.000000       1.000000      20.000000      17.000000
25%       -17.000000     553.000000      82.000000     502.000000
50%        -5.000000    1496.000000     129.000000     872.000000
75%        14.000000    3465.000000     192.000000    1389.000000
max      1272.000000    8500.000000     695.000000    4983.000000

                hour         minute
count  336776.000000  336776.000000
mean       13.180247      26.230100
std         4.661316      19.300846
min         1.000000       0.000000
25%         9.000000       8.000000
50%        13.000000      29.000000
75%        17.000000      44.000000
max        23.000000      59.000000

In [6]:
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              336776 non-null  int64
 1   year            336776 non-null  int64
 2   month           336776 non-null  int64
 3   day             336776 non-null  int64
 4   dep_time        328521 non-null  float64
 5   sched_dep_time  336776 non-null  int64
 6   dep_delay       328521 non-null  float64
 7   arr_time        328063 non-null  float64
 8   sched_arr_time  336776 non-null  int64
 9   arr_delay       327346 non-null  float64
 10  carrier         336776 non-null  object
 11  flight          336776 non-null  int64
 12  tailnum         334264 non-null  object
 13  origin          336776 non-null  object
 14  dest            336776 non-null  object
 15  air_time        327346 non-null  float64
 16  distance        336776 non-null  int64
 17  hour            336776 non-null  int64
 18  minute          336776 non-null  int64
 19  time_hour       336776 non-null  object
 20  name            336776 non-null  object
dtypes: float64(5), int64(10), object(6)
memory usage: 54.0+ MB
None

In [7]:
print(f"Column name      Null values")
count_null_values(dataset)

Column name      Null values

id                   0
year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
name                 0
dtype: int64

In [8]:
print(f"Column name    # Unique values")
count_unique_values(dataset)

Column name    # Unique values

id                336776
year                   1
month                 12
day                   31
dep_time            1318
sched_dep_time      1021
dep_delay            527
arr_time            1411
sched_arr_time      1163
arr_delay            577
carrier               16
flight              3844
tailnum             4043
origin                 3
dest                 105
air_time             509
distance             214
hour                  20
minute                60
time_hour           6936
name                  16
dtype: int64

In [9]:
object_columns = get_object_columns((dataset))
print(object_columns)
print("==============================================================")
print(dataset[object_columns].head(10))

['carrier', 'tailnum', 'origin', 'dest', 'time_hour', 'name']
==============================================================
  carrier tailnum origin dest            time_hour                      name
0      UA  N14228    EWR  IAH  2013-01-01 05:00:00     United Air Lines Inc.
1      UA  N24211    LGA  IAH  2013-01-01 05:00:00     United Air Lines Inc.
2      AA  N619AA    JFK  MIA  2013-01-01 05:00:00    American Airlines Inc.
3      B6  N804JB    JFK  BQN  2013-01-01 05:00:00           JetBlue Airways
4      DL  N668DN    LGA  ATL  2013-01-01 06:00:00      Delta Air Lines Inc.
5      UA  N39463    EWR  ORD  2013-01-01 05:00:00     United Air Lines Inc.
6      B6  N516JB    EWR  FLL  2013-01-01 06:00:00           JetBlue Airways
7      EV  N829AS    LGA  IAD  2013-01-01 06:00:00  ExpressJet Airlines Inc.
8      B6  N593JB    JFK  MCO  2013-01-01 06:00:00           JetBlue Airways
9      AA  N3ALAA    LGA  ORD  2013-01-01 06:00:00    American Airlines Inc.

In [11]:
str_cols = ["carrier", "tailnum", "origin", "dest", "name"]
date_cols = ["time_hour"]

df_conv = convert_columns(dataset, str_cols, "String")
#df_conv = convert_columns(df_conv, date_cols, "Date")
print(df_conv.dtypes)

id                  int64
year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
time_hour          object
name               object
dtype: object